@import '../sass-veriables/veriable.scss';
@import '../sass-mixins/mixins.scss';


.footer{
    background-color: $primary-color;
    @include flex-box(row,center,center);
    height: 15vh;
    color: $secondary-color;
}