@import '../sass-veriables/veriable.scss';
@import '../sass-mixins/mixins.scss';

.header {
    background-color: $primary-color;
    height: 4.5rem;
    width: 100%;
    border-radius: 0 0 0.3rem 0.3rem ;
    @include flex-box(row,space-around,center);

    .a{
        height: 2.2rem;
        width: 10rem;  
        
        background-size: cover;    
        background-image: url('../../../images/bookshelf.jpg');
           
            
        
    }

    div{

        
        h3{
            border-radius: 5px;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
            
        }
        h3:hover{
            box-shadow: 0 0 1rem $secondary-color;
        }

        img{
            height: auto;
            width: 1.2rem;
            padding-left: 5rem;
        }


        input{
            color: $secondary-color;
            outline: none;
            background: transparent;
            padding-bottom: 0.3rem;
            margin: 1rem 0.5rem;
            border: 0;
            border-bottom: 1px solid white;
            transition: border-bottom ease-in-out 0.1s ;

        }
        input:focus{
            border-bottom: 2px solid $active-border;

        }

    }
}

.div{
    @include flex-box(row,space-around,center);
    padding-left: 30rem;

    a{
        text-decoration: none;
    }

}

.displayNone{
    display: none;
}


@media screen and (max-width: 1050px) {
       .div{
        padding-left: 10rem;
       }
}
@media screen and (max-width: 700px) {
    .div {
        padding-left: 0rem;
       }

    .header{
        height: 3.5rem;
        img{
            height: auto;
            width: 7rem;
        }
        div{
            h3{
                padding: 0.25rem 0.5rem;
                font-size: 1rem;
            }
        }
    }

      
}
.displayBtn{
    color: $primary-color;
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}


@media screen and (max-width: 480px){
    .responsiveDisplayNone{
        display: none;
    }
    .displayNone{
        bottom: 0;
        position: fixed;
        display: block;
        z-index: 1000;
    }

    .displayBtn{
        color: $secondary-color;
        background-color: rgba(255, 230, 188,0.1);
    }
    .div{
        padding-top: 0.5rem;
    }
}